python-algorithm/CCTV[[:space:]]Gender[[:space:]]Classifier[[:space:]]Dataset/**/*.jpg filter=lfs diff=lfs merge=lfs -text
python-algorithm/CCTV[[:space:]]Gender[[:space:]]Classifier[[:space:]]Dataset/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
python-algorithm/CCTV[[:space:]]Gender[[:space:]]Classifier[[:space:]]Dataset/**/*.png filter=lfs diff=lfs merge=lfs -text
